#videos, #contactofinal{
    background-color: white !important;
}

#videos h2,#videos h1,#videos h2,#videos h3,#videos h4,
#contactofinal h2,#contactofinal h1,#contactofinal h2,#contactofinal h3,#contactofinal h4{
    color: black !important;
}


  .custom-input {
    border: 2px solid rgb(208, 208, 208) !important;        
    border-radius: 8px !important;             
    box-shadow: 0px 0px 10px rgba(208, 208, 208, 0.3) !important;  
  }


.img-logo-section{
  display: block;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
}

#clients{
  padding-top: 20px !important;
}

#services{
  padding-top: 50px;
  padding-bottom: 50px;
}