#videos, #contactofinal{
    background-color: white !important;
}

#videos h2,#videos h1,#videos h2,#videos h3,#videos h4,
#contactofinal h2,#contactofinal h1,#contactofinal h2,#contactofinal h3,#contactofinal h4{
    color: black !important;
}


  .custom-input {
    border: 2px solid rgb(208, 208, 208) !important;        
    border-radius: 8px !important;             
    box-shadow: 0px 0px 10px rgba(208, 208, 208, 0.3) !important;  
  }


.img-logo-section{
  display: block;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
}

#clients{
  padding-top: 20px !important;
}

#services{
  padding-top: 50px;
  padding-bottom: 50px;
}



/* */

#custom_carousel .item {

  color:#000;
  /* background-color:#eee; */
  padding:20px 0;
}
#custom_carousel .controls{
  overflow-x: auto;
  overflow-y: hidden;
  padding:0;
  margin:0;
  white-space: nowrap;
  text-align: center;
  position: relative;
  /* background:#ddd */
}
#custom_carousel .controls li {
  display: table-cell;
  width: 1%;
  max-width:90px
}
#custom_carousel .controls li.active {
  /* background-color:#eee; */
  border-top:3px solid orange;
}
#custom_carousel .controls a small {
  overflow:hidden;
  display:block;
  font-size:10px;
  margin-top:5px;
  font-weight:bold
}

.stl-text-proyect {
  color: white;
}


/* modal slider */
.modal-state-width{
  width: 53%;
}

.modal-content {
  background-color: transparent;
  border: none;
  box-shadow: none;
}